@import '../../config/_variables';

.content-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  > section {
    opacity: 0;
    flex: 0 0 33.333%;
    min-height: 530px;
    -webkit-animation-duration: 2.3s;
    animation-duration: 2.3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    text-align: center;
    > img {
      width: 80px;
      height: 78px;
      padding: 120px 0 40px 0;
    }
    > p {
      margin: 0 auto;
      padding-bottom: 120px;
      width: 60%;
      color: $text-primary-color;
      font-size: 22px;
      font-weight: 300;
      text-transform: uppercase;
    }
  }
}

#sec1 {
  background-color: $primary-color;
}

#sec2 {
  background-color: $secondary-color;
}

#sec3 {
  background-color: $third-color;
}

@media screen and (min-width: 320px) and (max-width: 770px) { 
  .content-container {
    flex-direction: column;
    > section {
      flex: 1;
    }  
  }
}