<div class="cards-wrapper container">
  <div class="service-card">
    <img src="../../../images/clinica1.jpg" alt="clinica-1">
    <h3>Teodoro</h3>
    <p>Local: Rua Teodoro Sampaio, 2767</p>
    <div>
      <small>15/03 - 15hrs</small>
      <small>valor: RS$ 50,00</small>
    </div>
    <button type="">Agendar</button>
  </div>
  <div class="service-card">
    <img src="../../../images/clinica2.jpg" alt="clinica-1">
    <h3>São Paulo</h3>
    <p>Local: Av das Nações Unidas, 22540</p>
    <div>
      <small>15/03 - 15hrs</small>
      <small>valor: RS$ 50,00</small>
    </div>
    <button type="">Agendar</button>
  </div>
  <div class="service-card">
    <img src="../../../images/clinica3.jpg" alt="clinica-1">
    <h3>Santa Cruz</h3>
    <p>Local: Rua Domingos de Morais, 2432</p>
    <div>
      <small>15/03 - 15hrs</small>
      <small>valor: RS$ 50,00</small>
    </div>
    <button type="">Agendar</button>
  </div>    
</div>
