<div class="cards-wrapper container">
  <div class="service-card">
    <img src="../../../images/clinica1.jpg" alt="clinica-1">
    <h3>Teodoro</h3>
    <p>Local: Rua Teodoro Sampaio, 2767</p>
    <div>
      <small>15/03 - 15:00</small>
      <small>valor: R$ 50,00</small>
    </div>
    <button type="" onclick="irAgendamento(1);">Agendar</button>
  </div>
  <div class="service-card">
    <img src="../../../images/clinica2.jpg" alt="clinica-1">
    <h3>São Paulo</h3>
    <p>Local: Av das Nações Unidas, 22540</p>
    <div>
      <small>16/03 - 16:00</small>
      <small>valor: R$ 30,00</small>
    </div>
    <button type="" onclick="irAgendamento(1);">Agendar</button>
  </div>
  <div class="service-card">
    <img src="../../../images/clinica3.jpg" alt="clinica-1">
    <h3>Santa Cruz</h3>
    <p>Local: Rua Domingos de Morais, 2432</p>
    <div>
      <small>16/03 - 15:30</small>
      <small>valor: R$ 60,00</small>
    </div>
    <button type="" onclick="irAgendamento(1);">Agendar</button>
  </div>
</div>
