<div class="description">
  <h1>GINECOLOGIA/OBSTETRÍCIA</h1>
  <h4>O Ginecologista é o médico que trata do organismo da mulher e de seu aparelho genital, fazendo o acompanhamento contínuo da saúde feminina.
  Alguns dos sintomas avaliados pelo Ginecologista são:</h4>
  <h4>Problemas de corrimento;
  Dor na relação sexual;
  Suspeita de gravidez;
  Prevenção de doenças relacionadas ao aparelho reprodutor feminino.
  Para o complemento da consulta, o médico poderá pedir alguns exames, como papanicolau, colposcopia, vulvoscopia, ultrassom transvaginal, ultrassom de mamas, mamografia e exames laboratoriais variados.
  </h4>
</div>