.cards-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  padding-bottom: 80px;
}

.service-card {
  width: 100%;
  max-width: 300px;
  min-height: 360px;
  padding: 8px;
  border-radius: 3px;
  background: #FAFAFA;
  box-shadow: 0px 5px 7px rgba(0,0,0,0.25);
  transition: all .2s ease-in-out;
  > img {
    max-width: 300px;
    min-height: 230px;
  }
  button {
    position: relative;
    bottom: 0;
    margin: 0;
    background-color: $primary-color;
    color: $text-primary-color;
    width: 100%;
    padding: 8px 35px;
    margin-top: 16px;
    font-size: 1em;
    font-weight: 600;
    letter-spacing: 1.2px;
    border: solid 2px transparent;
    border-radius: 3.00px;
    transition: all .2s ease-in;
    text-transform: uppercase;
    outline: none;
  }
  button:hover {
    box-shadow: 0px 2px 14px rgba(0,0,0,0.25);
  }
  button:active {
    background-color: #74a588;
  }
}

.service-card:hover {
  box-shadow: 0px 8px 14px rgba(0,0,0,0.35);
}