@import '../../config/_variables';

.description {
  h1 {
    font-size: 48px;
    margin-top: 140px;
    margin-bottom: 20px;
    color: $secondary-color;
  }
  h4 {
    margin-top: 0px;
    margin-bottom: 20px;
    font-size: 20px;
    color: $text-primary-color;
  }
}