<div class="content-container">
  <section class='animated ' id="sec1">
    <img src="../../../images/Group(1).png" alt='group-1-image'/>
    <p>
      agende consultas e exames a <strong>preços populares</strong>
    </p>
  </section>
  <section class='animated ' id="sec2">
    <img src="../../../images/Group(2).png" alt='group-2-image'/>
    <p>
      especialidades exclusivas para <strong>mulheres</strong> e <strong>crianças.</strong>
    </p>
  </section>
  <section class='animated ' id="sec3">
    <img src="../../../images/Group(3).png" alt='group-3-image'/>
    <p>
      e você <strong>médico(a),</strong> seja um parceiro da plataforma e compartilhe seus <strong>horários ociosos</strong>.
    </p>
  </section>
</div>