<div class="specialization container">
  <h3>NOSSAS ESPECIALIDADES</h3>
  <ul>
    
    <li><a href="./services.html">CARDIOLOGIA</a></li>
    <li><a href="">GINECOLOGIA</a></li>
    <li><a href="">OBSTETRICIA</a></li>
    <li><a href="">MASTOLOGIA</a></li>
    <li><a href="">ONCOLOGIA</a></li>
    <li><a href="">DEMARTOLOGIA</a></li>
    <li><a href="">ENDOCRINOLOGIA</a></li>
    <li><a href="">FISIOTERAPIA</a></li>
    <li><a href="">GERIATRIA</a></li>
    <li><a href="">GASTROENTEROLOGISTA</a></li>
    <li class="kids-services"><a href="">CARDIOLOGIA PEDIÁTRICA</a><label>kids</label></li>
    <li class="kids-services"><a href="">PEDIATRIA</a><label>kids</label></li>
    <li class="kids-services"><a href="">PSIQUIATRIA INFANTIL</a><label>kids</label></li>
    <li class="kids-services"><a href="">PSICOPEDAGOGIA</a><label>kids</label></li>
    <li class="kids-services"><a href="">ONCOLOGIA</a><label>kids</label></li>
  </ul>
</div>