<div class="specialization container">
  <h3>NOSSAS ESPECIALIDADES</h3>
  <ul>
    
    <li><a href="./services.html">CARDIOLOGIA</a></li>
    <li><a href="./services.html">GINECOLOGIA</a></li>
    <li><a href="./services.html">OBSTETRICIA</a></li>
    <li><a href="./services.html">MASTOLOGIA</a></li>
    <li><a href="./services.html">ONCOLOGIA</a></li>
    <li><a href="./services.html">DEMARTOLOGIA</a></li>
    <li><a href="./services.html">ENDOCRINOLOGIA</a></li>
    <li><a href="./services.html">FISIOTERAPIA</a></li>
    <li><a href="./services.html">GERIATRIA</a></li>
    <li><a href="./services.html">GASTROENTEROLOGISTA</a></li>
    <li class="kids-services"><a href="./services.html">CARDIOLOGIA PEDIÁTRICA</a><label>kids</label></li>
    <li class="kids-services"><a href="./services.html">PEDIATRIA</a><label>kids</label></li>
    <li class="kids-services"><a href="./services.html">PSIQUIATRIA INFANTIL</a><label>kids</label></li>
    <li class="kids-services"><a href="./services.html">PSICOPEDAGOGIA</a><label>kids</label></li>
    <li class="kids-services"><a href="./services.html">ONCOLOGIA</a><label>kids</label></li>
  </ul>
</div>