
<div class="login-card">
  <div class="login-header">
    <a href="https://wolfgio.github.io/podeAgora">
      <img src="images/logo.png" alt="LOGO-PNG">
    </a>
  </div>
  <div class="login-content">
    <form class="login-form" onsubmit="return login();" action="./services.html">
      <input type="text" name="usuario" id="usr" value="" placeholder="usuário">
      <input type="password" name="senha" id="pwd" value="" placeholder="senha">
      <button type="submit" name="button">Entrar</button>
    </form>
  </div>
</div>
