<!doctype html>
<html class="no-js animated fadeIn" lang="pt-br">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Pode agora? | Agende sua consulta agora</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" href="images/logo.png">
        <link rel="stylesheet" href="styles/styles.css">
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    </head>
    <body id='body'>
          <div class="login-card">
            <div class="login-header">
              <a href="https://wolfgio.github.io/podeAgora">
                <img src="images/logo.png" alt="LOGO-PNG">
              </a>
            </div>
            <div class="login-content">
              <form class="login-form" onsubmit="return login();" action="./services.html">
                <input type="text" name="usuario" id="usr" value="" placeholder="usuário">
                <input type="password" name="senha" id="pwd" value="" placeholder="senha">
                <button type="submit" name="button">Entrar</button>
              </form>
            </div>
          </div>
        <script src="scripts/app.js"></script>
    </body>
</html>
